body {
    font-family: "Arial", "Helvetica", sans-serif;
    margin: 0px;
}
hr {display: none;}
Header a, Main a{
    text-decoration: none;
}
.logo{
background-color: #222f3f;
}
.grandezza{
    width: 6%;
    padding: 0.5em;
    margin-left: 0.93em;
}
ul{
    margin: 0px;
    padding-left: 1.6em;
}
#navigazione{
    background-color: #364759;
    padding: 0.5em 0.75em 0.5em 0px;
    border-bottom: 1px #222f3f;
}

li{
    display: inline;
    padding-right: 0.93em;
}
li a{
    color: #eff9fa;
}
main{
    background-color: #e9edde;
    text-align: center;
    padding: 1.80em;
}
main > *:not(:last-child) {
    margin-bottom: 1.80em;
}
.rosso{
    border: 1px #e18140;
    background-color: #f56600;
    padding-bottom: 0.65em;
    padding-top: 0.65em;
    margin-bottom: 1.80em;
}
.linkbianco{     
    color: #ffefda;
}
.natale{
    background-image: url(../images/bg-image.png);
    padding: 3.1em;
    max-width: 100%;
    
}
.bianco{     
    color: #f0f2f5;
    font-weight: 700;
}
.sezione4{
    background-color: #fffffd;
    padding: 1.25em;
    text-align: justify;
}
.flexa{
    display:inline;
}
.immagini{
    object-fit:cover;
    height: 23em;
    width: 18em;
    margin: 1.3em;
    box-shadow: 10px 7px 10px #d4dce1;
    border-radius: 20px;
}
.find{
    display: inline;
}
.shop{
    font-weight: bold;
    color: #5c95a3;
    margin-left: 0.9em;
}
.immgrandi{
    border-top: 1px #b5bbb7;
    border-left: 1px #b5bbb7;
    max-width: 100%;
}
footer{
    text-align: center;
}
.piede{
    background-color: #364759;
    padding: 1em;
}
.backtop{
    color: #eff9fa;
    font-weight: 700; 
}
.fondo{
    padding: 3em;
    width: 8%;
}
